html, body {
    margin: 0;
    padding: 0;
    font-family: 'Ysabeau SC', sans-serif;
    background-color: #d5faf2;
    color: #000000;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    caret-color: #000000;
    color: #000000;
    background-color: #ffffff;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;
    margin: 10px 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4)
}

button {
    color: #ffffff;
    background-color: #ff567a;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;
}

button:hover {
    background-color: #ab0136;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4)
}

ul li:hover {
    color: #ffffff;
    background-color: #4abba2;
    cursor: pointer;
}